body{
    font-family: "Roboto",sans-serif;
    color: #757575;
    margin: 0;
    font-size: 15px;
    background: gray ;
}

.form_block{
    width: 100%;
    max-width: 400px;
    display: table;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    
    padding: 5px;
    border-radius: 5px;
}
.form_block> #title{
    background-color: #ee8208;
    padding: 10px;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-shadow: -1px -1px 0 rgba(0, 0,0, .2);
}
.form_block > .body{
    background-color: #fff;
    padding: 10px;
}

input[type='text']{
    height: 35px;
    width: 100%;
    margin-bottom: 100px;
    box-sizing: border-box;
    padding: 4px;
    background: #fff;
    border: 1px solid #d0d0d0;
    border-radius: 3px;
}
input[type='submit']{
    height: 35px;
    box-sizing: border-box;
    padding: 4px 10px;
    background: #65ca19;
    color: #fff;
    font-weight: bold;
    border: 0;
    border-radius: 3px;
    cursor: pointer;
    
    
}
.qrcodetitle{
    padding-top: 20px;
    font-size: 20px;
    font-weight: bold;
    box-sizing: border-box;
    color: #fff;
    background: #ee8208;
    padding: 10px;
    text-align: center;
}
.qrcode{
    height: 250px;
    font-weight: bold;
    box-sizing: border-box;
    background: #fff;
    padding: 10px;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    
}
.container{  
    max-width: 900px;  
    margin: 100px auto;  
    width: 100%;  
    
}  
table{  
    border-collapse: collapse;  
    width: 100%;  
}  
table th{  
    background-color: #ee8208;  
    color: #fff;  
    padding: 10px;  
    
}  
table td{  
    padding: 12px;  
    color: #fff;  
    font-size: 1em;  
    text-align: center;  
}  
table tr:nth-child(odd){  
    background-color: #797676;  
}  